h1, h2, h3{
    text-decoration:underline;
}
*{
  padding: 0%; 
  margin: 0px;
  box-sizing: content-box; 
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 20px;
  padding: 10px;
}
#topContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 80vw;
    box-shadow: 2px 1.5px;
    padding: 10px;
    }
#middleContainer{
display: flex;
flex-direction: column;
padding-top: 10px;
padding-bottom: 10px;
}
img{
  width: 1051px;
height: 762px;
}
#buttomContainer{
  margin: 20px;
  padding-top: 10px;
}
